@use "./_variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  font-family: $font-stack;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

input,
button {
  font-family: $font-stack;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("../Images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: $l_vLightGray;
  animation: fadeInAnimation ease 0.3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @media (max-width: 450px) {
    background-image: url("../Images/bg-mobile-light.jpg");
  }

  &.dark {
    background-image: url("../Images/bg-desktop-dark.jpg");
    background-color: $d_vDarkBlue;

    @media (max-width: 450px) {
      background-image: url("../Images/bg-mobile-dark.jpg");
    }
  }
}

.main-container {
  width: 85%;
  max-width: 550px;
  margin: 5%;
}

.footer-text {
  margin: 40px;
  text-align: center;
  font-size: 0.8rem;
  color: $l_darkGrayBlue;

  &.dark {
    color: $d_darkGrayBlue;
  }
}
