@use "./_variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

body {
  font-family: $font-stack;
  padding: 0;
  margin: 0;
  font-size: 18px;
  background-color: $l_vLightGray;
}

input,
button {
  font-family: $font-stack;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("../Images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  .dark {
    background-image: url("../Images/bg-desktop-dark.jpg");
  }
}

.main-container {
  width: 550px;
  margin: 5%;
}
