$font-stack: "Josefin Sans", sans-serif;

$brightBlue: hsl(220, 98%, 61%);

// light theme

$l_vLightGray: hsl(0, 0%, 98%);
$l_vLightGrayBlue: hsl(233, 11%, 84%);
$l_darkGrayBlue: hsl(236, 9%, 61%);
$l_vDarkGrayBlue: hsl(235, 19%, 35%);

// dark theme

$d_vDarkBlue: hsl(235, 21%, 11%);
$d_vDarkDesatBlue: hsl(235, 24%, 19%);
$d_lightGrayBlue: hsl(234, 39%, 85%);
$d_lightGrayBlueH: hsl(236, 33%, 92%);
$d_darkGrayBlue: hsl(234, 11%, 52%);
$d_darkGrayishBlue: hsl(237, 14%, 26%);
